<link rel="stylesheet" href="/css/signIn.css" />
<form action="/user/updatePassword" method="POST">
  <input type="email" name="email" placeholder="Enter email" /><br />
  <input type="password" name="password" placeholder="Enter password" /><br />
  <input
    type="password"
    name="confirm_password"
    placeholder="Enter confirm password"
  /><br />
  <input type="submit" id="sign" value="reset" />
</form>
