<link rel="stylesheet" href="/css/reset.css" />

<main>
  <h2>Please enter the email for sending the reset link</h2>
  <form action="/user/resetEmail" method="POST">
    <input type="email" name="email" placeholder="Enter email" required />
    <input type="submit" id="reset" value="Send" />
  </form>
</main>
