<link rel="stylesheet" href="/css/signIn.css" />

<form action="/user/createSession" method="POST">
  <h2>Welcome User</h2>
  <h4>Sign In using NodeJS Authentication</h4>
  <input type="text" name="name" placeholder="Enter your name" required /><br />
  <input type="email" name="email" placeholder="Enter email" required /><br />
  <input type="password" name="password" placeholder="Enter password" required/>
  <a href="/user/reset" id="reset">Forgot password?</a><br />
  <div class="g-recaptcha" data-sitekey="6LeqG6UdAAAAAOVqQxfVOj-qClF_G7WwkhCe1z-Z"></div>
  <input type="submit" id="sign" value="Log In" />
  <p>or</p>

  <div>
    <img
      src="https://bsmedia.business-standard.com/_media/bs/img/about-page/1562577931.jpg"
      alt="google"
    />
    <a href="/user/auth/google">Sign In using Google</a>
  </div>
  
  <a href="/" id="create-new">Create a new account?</a>
</form>
