<link rel="stylesheet" href="/css/user.css" />
<header>
  <h2><%= user.name %></h2>
  <div class="buttons">
    <div id="sign-out">
      <a href="/user/destroy">Sign Out</a>
    </div>
    <div id="reset-btn">
      <a href="/user/reset">Reset Password</a>
    </div>
  </div>
</header>
<main>
  <h1>
    Welcome!!<br />
    User Profile
  </h1>
</main>
