<div>
  <p>
    Your can reset your password by clicking on the link
    <a href="http://localhost:8000/user/resetPassword/<%= email%>"
      >Reset password</a
    >
  </p>
  <br />
  <br />
  <p>Thanks</p>
</div>
